body {
    margin: 0;
}
* {
    font-family: Montserrat;
}
.header{
    background-color: #B36050;
    height: 47px;
    color: #F1D3B9;
    font-size: 17px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header > div:not(.header) {
    background-color: #F6F4EC;
    display: flex;
    height: 71px;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    position: relative;
} 
#menu-items {
    column-gap: 22px;
    display: flex;
    align-items: center;
    color: #B4604D;
    font-size: 18px;
    line-height: 27px;
}
.header-img {
    width: 120px;
    position: absolute;
    left: calc(50% - 60px);
}
.cart {
    display: flex;
    align-items: center;
    color: #B4604D;
    font-size: 14px;
}
.cart img {
    margin: auto 6px auto 20px;
}
.top-image {
    width: 100%;
    height: 435px;
    background: url(img/head.png) center no-repeat;
    background-size: cover;
    position: relative;
}
.top-image a {
    position: absolute;
    display: block;
    bottom: 55px;
    left: calc(50% - 64px);
    width: 128px;
    height: 48px;
    background-color: #B45F4D;
    color: #FFF;
    text-align: center;
    line-height: 48px;
    font-size: 17px;
    text-transform: uppercase;
}
.shop-now {
    background-color: #A9AE8D;
    color: #F6F4EC;
    padding: 69px 70px;
}
.shop-now p:first-child {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 29px;
}
.shop-now p:nth-child(2) {
    font-size: 33px;
    line-height: 64px;
}
.shop-now p:last-child {
    font-size: 16px;
    line-height: 27px;
}
.items {
    background-color: #F6F4EC;
}
.items > h4 {
    text-align: center;
    font-size: 23px;
    color: #B45F4D;
    font-weight: normal;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}
.items > div {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    color: #B45F4D;
}
.items > div > div {
    flex: 0 0 380px;
    margin-bottom: 70px;
}
.items > div > div > a {
    display: inline-block;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 18px;
}
.items > div > div > p {
    font-size: 16px;
    margin: 0;
}
.strilka {
    margin: 10px;
    position: relative;
    background-color: #F6F4EC;
    display: flex;
    justify-content: space-between;
}
.strilka img {
    position: absolute;
    bottom: 45px;
    left: 40px;
}
.strilka img:last-child {
    left: unset;
    right: 40px;
}

.shop-sets {
    display: flex;
    background: url(img/shop_now.png) center no-repeat;
    background-size: cover;
    height: 414px;
    width: 100%px;
    margin: 24px 110px 50px;
    position: relative;
}
.shop-sets-text {
    position: absolute;
    display: flex;
    bottom: 0px;
    width: 100%;
    height: 92px;
    background-color: #DF9B7A;
    color: #F6F4EC;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.shop-sets-text p {
    position: absolute;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 32px;
    left: 30px;
}
.shop-sets-text a {
    position: absolute;
    font-size: 18px;
    line-height: 32px;
    right: 30px;
}

.women {
    background-color: #F1D3B9;
    position: relative;
    height: 1069px;
    width: 100%;
}
.women .women1 {
    position: absolute;
    left: 183px;
    top: 61px;
}
.women .women2 {
    position: absolute;
    left: 100px;
    top: 535px;
}
.women > div {
    width: 518px;
    position: absolute;
    background: #F8F8F8;
    color: #B45F4D;
    text-align: center;
    top: 285px;
    right: 157px;
    padding: 50px 45px 30px;
    box-sizing: border-box;
}
.women > div h1 {
    font-weight: normal;
    margin: 0;
    line-height: 57px;
    font-size: 30px;
}
.women > div p {
    bottom: 22px;
    line-height: 31px;
    font-size: 19px;
    margin: 0;
}
.women > div a {
    display: block;
    margin-top: 22px;
    line-height: 25px;
    font-size: 19px;
    text-align: left;
}

.table {
    display: flex;
    justify-content: center;
    background: #A9AE8D;
    font-size: 15px;
}
table {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 30px;
    color: #B36050;
    background-color: #F6F4EC;
}
th, td {
    border: 2px solid #B45F4D;
    padding: 15px;
}
td:first-child,
th:first-child {
    width: 120px;
    text-align: center;
}
table tr th {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
}
table ul {
    margin: 0;
    padding: 0 0 0 20px;
    list-style-type: circle;
}

.follow {
    text-align: center;
    font-size: 23px;
    line-height: 39px;
}
.follow p {
    margin: 25px auto 45px;
}
.follow a {
    text-decoration: none; 
    color: black; 
}
.follow div {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding-bottom: 40px;
    overflow: hidden;
}
footer {
    background: #F6F4EC;
    background-size: cover;
    position: relative;
    height: 401px;
}
.menu-footer {
    display: flex;
    justify-content: space-between;
    color: #B45F4D;
    font-size: 14px;
    width: 330px;
    padding-left: 50px;
    padding-top: 60px;
}
.discount-field {
    display: flex;
    flex-direction: column;
    color: #C17C6C;
    font-size: 14px;
    position: absolute;
    right: 50px;
    bottom: 183px;
    top: 60px;
}
.discount-field p:nth-child(3) {
    margin-top: 20px; 
    margin-bottom: 0;
    line-height: 22px;
}
.discount-field p:last-child {
    margin-top: 0; 
    line-height: 22px;
}
input[type=email] {
    display: block;
    background-color: transparent;
    height: 44px;
    border: 2px solid #B5614D;
    padding: 12px 10px;
    font-size: 13px;
    text-transform: uppercase;
    color: #B45F4D;
    outline: none;
}
input[type=email]::placeholder {
    font-size: 13px;
    text-transform: uppercase;
    color: #B45F4D;
    text-align: right;
}
.year-footer {
    position: absolute;
    bottom: 60px;
    left: 50px;
    display: flex;
    color: #C17C6C;
    font-size: 14px;
}